n8n2025/02/P7qfVVnlW311qanl.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "GitHub - get all files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set name and content": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n - get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get all files": {
      "main": [
        [
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get each file": {
      "main": [
        [
          {
            "node": "Set name and content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge globals and files": {
      "main": [
        [
          {
            "node": "GitHub - get each file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - get all workflows": {
      "main": [
        [
          {
            "node": "Set n8n existing workflows names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If workflow already exists": {
      "main": [
        [
          {
            "node": "n8n - create workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow name already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set n8n existing workflows names": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Github and n8n workflows - Keep only non existing workflows based on the name": {
      "main": [
        [
          {
            "node": "If workflow already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T18:11:55.551Z",
  "id": "P7qfVVnlW311qanl",
  "meta": null,
  "name": "restore_backup",
  "nodes": [
    {
      "parameters": {},
      "id": "12dbc728-efa1-4f88-bada-8ae7a6dba345",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -340,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "n8n-io"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "25f6d87c-32ef-48fb-a47a-7a250cea5160",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -140,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow - Restore Backups\nThis workflow will restore backed-up workflows from Github. \nIt is launch by testing the workflow\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder where your workflows are saved, within the repository.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017,
        "color": 2
      },
      "id": "f35344bc-e05b-49b7-a71b-438b863d0c25",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -780,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d6a37c64-07f5-4e8b-9ca1-8d4b533d8259",
      "name": "Workflow name already exists",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1540,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "063d51c7-0b7a-48a4-82b3-76b370fc4265",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6e899798-9912-49dc-b5e6-c86ecc2bf29e",
      "name": "If workflow already exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1220,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6be8c184-8fb7-47a9-ad42-d0dc3db1eea4",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6080fcb-2fb6-46c9-bd7a-82b4c95e0b1a",
      "name": "Set n8n existing workflows names",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        540
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}"
      },
      "id": "db269e19-d269-4fb3-9fbf-87774ed6baa4",
      "name": "GitHub - get all files",
      "type": "n8n-nodes-base.github",
      "position": [
        80,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e8b42dff-6616-41af-aa1c-9417ad4a134b",
      "name": "n8n - get all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -140,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "6e443217-17d1-4350-b958-cad33eb0109b",
      "name": "GitHub - get each file",
      "type": "n8n-nodes-base.github",
      "position": [
        500,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714b0cfd-9f06-4e2f-b73d-30ef39dc40e3",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content.base64Decode() }}"
            },
            {
              "id": "6f48ed58-d55a-4ee4-8cf2-373941aaa341",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name.replace(\".json\", \"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e96c9383-6e0b-4280-be8d-ef19524f3128",
      "name": "Set name and content",
      "type": "n8n-nodes-base.set",
      "position": [
        700,
        320
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $('Set name and content').item.json.content }}",
        "requestOptions": {}
      },
      "id": "00d46db9-080b-4e5a-a477-b679d3c60a4d",
      "name": "n8n - create workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1540,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get all Github files https://docs.n8n.io/hosting/cli-commands/?_gl=1*1vdtl93*_ga*NzkwNzI3MDMwLjE3Mzk5OTQyOTI.*_ga_0SC4FF2FH9*MTc0MDA3MjM2MC4yLjEuMTc0MDA3NTE3NC42MC4wLjA.\n1. List all the files from your repository\n2. Get each file as a JSON. \n3. The content, retrieved as base64, is converted in the \"Set Name and Content\" node\n\n\nThe \"Set Name and Content\" node creates a list of workflows with name and content, in order to compare it with the existing n8n workflows in the workspace.",
        "height": 478.9952882299376,
        "width": 861.4145066375679,
        "color": 2
      },
      "id": "08e6e255-6512-4bc2-b6de-ffa8f9dafec1",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b9a51caf-b736-4e31-afd3-c23219d02226",
      "name": "Merge globals and files",
      "type": "n8n-nodes-base.merge",
      "position": [
        300,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "d1798c4b-f572-429f-8526-fb32777ab822",
      "name": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
      "type": "n8n-nodes-base.merge",
      "position": [
        1000,
        420
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Merge Github and n8n workflows\n\nHere, we only keep the workflows from Github that doesn't already exist in n8n workspace, based on the name",
        "height": 196.65095879641083,
        "width": 260.44696745223945,
        "color": 2
      },
      "id": "fd43d8ab-d1c7-4a16-9379-311726eb54b0",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create n8n workflow\n\nCreate the n8n workflow using:\n- Content saved in Github\n- Name of the file in Github\n\n\nIf the workflow name already exist in n8n, then the workflow is not created - to avoid duplicates.",
        "height": 237.66186698228626,
        "width": 344.0461264465236,
        "color": 2
      },
      "id": "dfc842bb-195a-4ddf-b82a-036cb159c01e",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get existing n8n workflows\n\n1. Get all workflows\n2. Prepare a list of workflows in order to compare it with the workflows saved in the Github repo.",
        "height": 182.45487519360773,
        "width": 378.7476641422645,
        "color": 2
      },
      "id": "f9b95844-ddaf-4ce2-b3b0-b658454e7d6b",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "JupyterSite",
  "repo_owner": "ribokle",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-20T18:15:32.000Z",
  "versionId": "a8fc3edf-c726-46d1-a730-b3dc7e72bf16"
}