n8n2025/01/7xFwkkUHZvvXF55v.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay list": {
      "main": [
        [
          {
            "node": "Extract essay names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to first 3": {
      "main": [
        [
          {
            "node": "Fetch essay texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay texts": {
      "main": [
        [
          {
            "node": "Extract title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract essay names": {
      "main": [
        [
          {
            "node": "Split out into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split out into items": {
      "main": [
        [
          {
            "node": "Limit to first 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch essay list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Clean up": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-23T13:18:48.839Z",
  "id": "7xFwkkUHZvvXF55v",
  "isArchived": false,
  "meta": {
    "templateId": "1951",
    "templateCredsSetupCompleted": true
  },
  "name": "Scrape and summarize webpages with AI",
  "nodes": [
    {
      "parameters": {},
      "id": "67850bd7-f9f4-4d5b-8c9e-bd1451247ba6",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.paulgraham.com/articles.html",
        "options": {}
      },
      "id": "0d9133f9-b6d3-4101-95c6-3cd24cdb70c3",
      "name": "Fetch essay list",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "essay",
              "cssSelector": "table table a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "ee634297-a456-4f70-a995-55b02950571e",
      "name": "Extract essay names",
      "type": "n8n-nodes-base.html",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://www.paulgraham.com/{{ $json.essay }}",
        "options": {}
      },
      "id": "83d75693-dbb8-44c4-8533-da06f611c59c",
      "name": "Fetch essay texts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "151022b5-8570-4176-bf3f-137f27ac7036",
      "name": "Extract title",
      "type": "n8n-nodes-base.html",
      "position": [
        1820,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "summary",
              "stringValue": "={{ $json.response.text }}"
            },
            {
              "name": "web_link",
              "stringValue": "=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"
            },
            {
              "name": "html_json",
              "stringValue": "={{ $('Fetch essay texts').item.json.data }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "07bcf095-3c4d-4a72-9bcb-341411750ff5",
      "name": "Clean up",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        220
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Scrape latest Paul Graham essays",
        "height": 285.66037735849045,
        "width": 1071.752021563343
      },
      "id": "11285de0-3c5d-4296-a322-9b7585af9acc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize them with GPT",
        "height": 606.7924528301882,
        "width": 465.3908355795153
      },
      "id": "c32f905d-dd7a-4b68-bbe0-dd8115ee0944",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "essay",
        "options": {}
      },
      "id": "29d264f4-df6d-4a41-ab38-58e1b1becc9a",
      "name": "Split out into items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "ccfa3a1d-f170-44b4-a1f2-3573c88cae98",
      "name": "Limit to first 3",
      "type": "n8n-nodes-base.limit",
      "position": [
        1260,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c3d05068-9d1a-4ef5-8249-e7384dc617ee",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1940,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db75adad-cb16-4e72-b16e-34684a733b05",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1940,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "022cc091-9b4c-45c2-bc8e-4037ec2d0d60",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1800,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "eBHmjvTWmfdb5wuO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "cda47bb7-36c5-4d15-a1ef-0c66b1194825",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2280,
        220
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {}
      },
      "id": "28144e4c-e425-428d-b3d1-f563bfd4e5b3",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1840,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "WebScrape",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2700,
        220
      ],
      "id": "3e321745-91d7-4e97-a616-6eb6ce481efc",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "uz8fiL9TyFoCDtQa",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "JupyterSite",
  "repo_owner": "ribokle",
  "repo_path": "n8n",
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-01-23T13:18:48.852Z",
      "updatedAt": "2025-01-23T13:18:48.852Z",
      "role": "workflow:owner",
      "workflowId": "7xFwkkUHZvvXF55v",
      "projectId": "MeedxfkMHNnSz9Bn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T10:49:24.000Z",
  "versionId": "2a1b297e-c0fe-448b-9d8b-e2c2fb72a954"
}