n8n2025/01/8PVItMyc5OpWmmyU.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay list": {
      "main": [
        [
          {
            "node": "Extract essay names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to first 3": {
      "main": [
        [
          {
            "node": "Fetch essay texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay texts": {
      "main": [
        [
          {
            "node": "Extract title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract essay names": {
      "main": [
        [
          {
            "node": "Split out into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split out into items": {
      "main": [
        [
          {
            "node": "Limit to first 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch essay list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Clean up": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-27T10:49:50.156Z",
  "id": "8PVItMyc5OpWmmyU",
  "isArchived": false,
  "meta": {
    "templateId": "1951",
    "templateCredsSetupCompleted": true
  },
  "name": "Scrape and summarize webpages with AI v1",
  "nodes": [
    {
      "parameters": {},
      "id": "1ac824f0-3450-4224-bd6e-5e39a430b49e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.paulgraham.com/articles.html",
        "options": {}
      },
      "id": "6d68b590-bb57-4c26-bb1d-86b07e440d8c",
      "name": "Fetch essay list",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "essay",
              "cssSelector": "table table a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a445dad-b83d-4131-858c-c73f2cd74828",
      "name": "Extract essay names",
      "type": "n8n-nodes-base.html",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://www.paulgraham.com/{{ $json.essay }}",
        "options": {}
      },
      "id": "7964c467-5847-4a95-ae1e-a2b8b3638701",
      "name": "Fetch essay texts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "1865b388-aaca-4e18-bda0-2a2375ec5d26",
      "name": "Extract title",
      "type": "n8n-nodes-base.html",
      "position": [
        1820,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "summary",
              "stringValue": "={{ $json.response.text }}"
            },
            {
              "name": "web_link",
              "stringValue": "=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"
            },
            {
              "name": "html_json",
              "stringValue": "={{ $('Fetch essay texts').item.json.data }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "900e5fa4-d86a-439e-8c7c-07cc8884eb9c",
      "name": "Clean up",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        220
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Scrape latest Paul Graham essays",
        "height": 285.66037735849045,
        "width": 1071.752021563343
      },
      "id": "26a0707c-280c-4999-adc4-2d1bc32efebf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize them with GPT",
        "height": 606.7924528301882,
        "width": 465.3908355795153
      },
      "id": "2e85a2ff-da46-4941-a5ce-9b4854808c59",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "essay",
        "options": {}
      },
      "id": "288b92c0-3aa6-4302-a005-00efecdccc61",
      "name": "Split out into items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "7e891b3e-00ce-4bdb-a79f-60b8ab1aa285",
      "name": "Limit to first 3",
      "type": "n8n-nodes-base.limit",
      "position": [
        1260,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc7beeba-55fc-40cf-9cb2-352147e57196",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1940,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9424dd00-3403-46c9-871d-3a67f649c0c3",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1940,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6314bef1-6b86-4cfd-bffc-b271cf2709e7",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1800,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "eBHmjvTWmfdb5wuO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b0704d32-7aca-45ad-92fb-ed2cf5314f57",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2280,
        220
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {}
      },
      "id": "5c8b59bf-b10e-40f1-a084-c48ca04cff61",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1840,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "WebScrape",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2700,
        220
      ],
      "id": "15bf59ee-7617-447f-9c16-c55c58ddf81d",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "uz8fiL9TyFoCDtQa",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "JupyterSite",
  "repo_owner": "ribokle",
  "repo_path": "n8n",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T10:49:50.156Z",
  "versionId": "9834ae96-b0d6-4ae6-ae76-1c1498fc9a88"
}